<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container text text-center">
          <mat-card>
          <img src="assets/login-logo.png">

          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
              required
              [(ngModel)]="loginData.username"
              name="username"
              type="text" matInput placeholder="Enter your username">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
              required
              [(ngModel)]="loginData.password"
              name="password"
              type="password" matInput placeholder="Enter your Password">
            </mat-form-field>

            <div class="container">
              <button mat-raised-button color="primary" type="submit">
                Login
              </button>
              <button type="reset" style="margin-left: 30px;" mat-raised-button color="accent">Reset</button>
            </div>
          </form>
        </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
